
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/HomeStyle.css" rel="stylesheet" type="text/css" />



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/HomeStyle.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <center><h1 class="page-header">User Registration!</h1></center>


    <div class="box-1">
        <div class="btn btn-one" onclick="location.href='@Url.Action("Create","Registrations")'">
            <span>Registration</span>
        </div>
    </div>


    <div class="box-2">
        <div class="btn btn-two" onclick="location.href='@Url.Action("Login","Login")'">
            <span>Login</span>
        </div>
    </div>
</body>
</html>
