
@{
    ViewBag.Title = "Successfull";
}

<center><h2 class="alert alert-success">Congratulations....! New User Succesfully Created</h2></center>


<div>
    @Html.ActionLink("Back to Login", "Login", "Login")
</div>

